/nbproject/
/database/DBDiff/migration.sql
/database/DBDiff/vendor
/testing/vendor/*
/testing/selenium-server-standalone-2.48.2.jar
/vendor/*
composer.lock
/foss-api/api-v1/vendor
/foss-api/api-v2/vendor
/wiki/cache
/wiki/docs
wp-content/uploads/*
testing/scenarios/Index.html
testing/phantomjsdriver.log
wp-content/themes/egyptfoss/node_modules/*
wp-content/plugins/bwp-minify/cache/*
db-config.php
/wp-content/plugins/theme-check/
/wp-content/plugins/hide_my_wp/
/undefined
/wp-content/themes/egyptfoss/buddypress/members/activate.php
